.calculator-button.ac {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  grid-column: span 2;
}

.calculator-button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .calculator-button:hover,
  .calculator-button:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }