.output {
    grid-column: 1 / -1;
    grid-row: 1/2;
    background-color: #133970;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 3rem;
  }